<form class="{{cssClass}}" autocomplete="off">
  <h1>{{item.name}}</h1>
  <section class="sheet-body">
    <table class="czt-table">
      <tr>
        <td>
          {{localize "CZT.Item.KeyName"}}
          <br><i>{{localize "CZT.Item.KeyNameDesc"}}</i>
        </td>
        <td>{{systemData.keyName}}</td>
      </tr>
      <tr>
        <td colspan="2">
          {{systemData.description}}
        </td>
      </tr>
    </table>
  </section>
</form>