<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
    <h1>
        {{data.name}}
    </h1>
  </header>
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="properties">{{localize "CZT.Common.Navs.Properties"}}</a>
    <a class="item" data-tab="tags">{{localize "CZT.Common.Navs.Tags"}}</a>
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="tags">
      <table class="czt-table">
      {{#each tags as |tag key|}}
        <tr>
          <td>{{tag.name}}</td>
          <td>{{tag.system.description}}</td>
        </tr>
      {{else}}
      <tr>
        <td>{{localize "CZT.Item.Tags.NoTags"}}</td>
      </tr>
      {{/each}}
      </table>
    </div>

    <div class="tab properties" data-group="primary" data-tab="properties">  
      Properties
    </div>
  </section>
</form>