<form class="{{cssClass}}" autocomplete="off">
  <h1>{{item.name}}</h1>
  <section class="sheet-body">
    <b>{{localize "CZT.Item.Origins.playbook"}}: </b> {{systemData.playbook}}
    <table class="czt-table">
      <!-- 
      <tr>
        <td></td>
        <td>{{localize "CZT.Item.Name"}}</td>
        <td>{{localize "CZT.Item.Origins.sign"}}</td>
      </tr> -->
      <tbody>
        {{#each systemData.list as |origin key|}}
        <tr>
          <td>{{origin.id}}</td>
          <td>{{origin.name}}</td>
          <td>{{origin.sign}}</td>
        </tr>
        <tr>
          <td colspan="3">{{origin.description}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</form>