<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
    <h1>{{data.name}}</h1>
  </header>
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="kind-type-border">
      <b>{{localize "CZT.Item.Movies.KindLabel"}}:</b> {{lzCc "CZT.Item.Movies.Kind." systemData.kind}}

    </div>
    <p>{{{systemData.description}}}</p>
  </section>
</form>