<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item" data-tab="properties">{{localize "CZT.Common.Navs.Archetype"}}</a>
  <a class="item" data-tab="self-movies">{{localize "CZT.Common.Navs.Playbook"}}</a>
  {{#if specialtab}}
    <a class="item" data-tab="tab-{{specialtab}}">{{lzCc "CZT.Common.Navs.PlaybookTabs." specialtab}}</a>
  {{/if}}
  <a class="item" data-tab="common-movies">{{localize "CZT.Common.Navs.Movies.Common"}}</a>
  <a class="item" data-tab="dramatic-movies">{{localize "CZT.Common.Navs.Movies.Dramatic"}}</a>
  <a class="item" data-tab="cosmic-movies">{{localize "CZT.Common.Navs.Movies.Cosmic"}}</a>
  <a class="item" data-tab="threats-movies">{{localize "CZT.Common.Navs.Movies.Threats"}}</a>
  <a class="item" data-tab="notes-own">{{localize "CZT.Common.Navs.ForNotes"}}</a>
</nav>