<form class="{{cssClass}}" autocomplete="off">

{{>"sheets-actors-partials-navigation-sheet" specialtab=specialtab }}

{{!-- Sheet Body --}}
<section class="sheet-body">

<div class="tab properties" data-group="primary" data-tab="properties">
  <div class="czt-wrapper">
    <div class="czt-row">
      <div class="czt-column czt-sheet-leftside">
        <div class="actor-sheet-block">
          {{>"sheets-actors-partials-block-description" description=playbook_data.description}}
        </div>
        {{#if playbook_data.origins.isShow}}
        <div class="actor-sheet-block">
          {{>"sheets-actors-partials-block-origins" origins=playbook_data.origins heroOrigin=systemData.origin}}
        </div>
        {{/if}}
        {{#if playbook_data.additionals.specialist}}
        <div class="actor-sheet-block">
          {{>"sheets-actors-partials-block-specialist" specialist=playbook_data.additionals.specialist heroSpec=systemData.specialist}}
        </div>
        {{/if}}
        {{#if playbook_data.additionals.craft}}
        <div class="actor-sheet-block">
          {{>"sheets-actors-partials-block-craft"}}
        </div>
        {{/if}}
        {{#if playbook_data.clusters.isShow}}
        <div class="actor-sheet-block">
          {{>"sheets-actors-partials-block-clusters" clusters=clusters_list heroClusters=systemData.clusters clustersInfo=playbook_data.clusters}}
        </div>
        {{/if}}
        <div class="actor-sheet-block">
          {{>"sheets-actors-partials-block-appearancies" appears=playbook_data.appearance heroAppears=systemData.appearancies}}
        </div>
      </div>
      <div class="czt-column czt-sheet-center">
        <img class="actor-avatar" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      </div>
      <div class="czt-column czt-sheet-rightside">
        <div class="actor-sheet-block">
          {{>"sheets-actors-partials-block-princips" princips=playbook_data.princips heroPrincip=systemData.princip_input}}
        </div>
        <div class="actor-sheet-block">
          {{>"sheets-actors-partials-block-theme" theme=playbook_data.theme heroTheme=systemData.theme}}
        </div>
        <div class="actor-sheet-block">
          {{>"sheets-actors-partials-block-startcompects"}}
        </div>
        <div class="actor-sheet-block">
          {{>"sheets-actors-partials-block-contacts" contacts=playbook_data.contacts heroContacts=systemData.contacts}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tab self-movies" data-group="primary" data-tab="self-movies">
<div class="czt-wrapper">
    <div class="czt-row">
      <div class="czt-column czt-sheet-leftside">
        
      </div>
      <div class="czt-column czt-sheet-center"></div>
      <div class="czt-column czt-sheet-rightside"></div>
    </div>
  </div>
</div>

{{#if specialtab}}
  <div class="tab tab-{{specialtab}}" data-group="primary" data-tab="tab-{{specialtab}}">
    {{#ife specialtab 'battlesuit'}}
      {{>"sheets-actors-partials-tab-sheet-battlesuit" systemData=systemData}}
    {{/ife}}
    {{#ife specialtab 'cyborg_male'}}
      {{>"sheets-actors-partials-tab-sheet-cyborg_male" systemData=systemData}}
    {{/ife}}
    {{#ife specialtab 'daredevil'}}
      {{>"sheets-actors-partials-tab-sheet-daredevil" systemData=systemData}}
    {{/ife}}
    {{#ife specialtab 'engineer'}}
      {{>"sheets-actors-partials-tab-sheet-engineer" systemData=systemData}}
    {{/ife}}
    {{#ife specialtab 'janissary'}}
      {{>"sheets-actors-partials-tab-sheet-janissary" systemData=systemData}}
    {{/ife}}
  </div>
{{/if}}
<div class="tab" data-group="primary" data-tab="common-movies">
  {{>"sheets-actors-partials-tab-sheet-movies" movies=movie_common}}
</div>
<div class="tab" data-group="primary" data-tab="dramatic-movies">
  {{>"sheets-actors-partials-tab-sheet-movies" movies=movie_dramatic}}
</div>
<div class="tab" data-group="primary" data-tab="cosmic-movies">
  {{>"sheets-actors-partials-tab-sheet-movies" movies=movie_cosmo}}
</div>
<div class="tab" data-group="primary" data-tab="threats-movies">
  {{>"sheets-actors-partials-tab-sheet-movies" movies=movie_threats}}
</div>
<div class="tab notes-own" data-group="primary" data-tab="notes-own">
  <div class="actor-wrapper">
    <div class="actor-row">
      <div class="actor-column">
        {{editor systemData.notes target="system.notes" button=true engine="tinymce" collaborate=false}}
      </div>
    </div>
  </div>
</div>
</section>
</form>
