<form class="{{cssClass}}" autocomplete="off">

<nav class="tabs sheet-tabs" data-group="primary">
  <a class="item" data-tab="properties">{{localize "CZT.Common.Navs.History"}}</a>
  <a class="item" data-tab="skills">{{localize "CZT.Common.Navs.Playbook"}}</a>
  <a class="item" data-tab="common-movies">{{localize "CZT.Common.Navs.CommonMovies"}}</a>
  <a class="item" data-tab="dramatic-movies">{{localize "CZT.Common.Navs.DramaticMovies"}}</a>
  <a class="item" data-tab="cosmic-movies">{{localize "CZT.Common.Navs.CosmicMovies"}}</a>
  <a class="item" data-tab="traits-movies">{{localize "CZT.Common.Navs.TraitsMovies"}}</a>
</nav>
<section class="sheet-body">
  <div class="tab properties" data-group="primary" data-tab="properties">
    <div class="actor-wrapper">
      <div class="actor-row">
        <div class="actor-column actor-sheet-leftside">
          <div class="actor-description">
            <div class="card-block-header">{{localize "CZT.Actor.Description"}}</div>
            {{{lzCc3 "CZT.Playbooks." actor.type ".Description"}}}
          </div>
          <div class="actor-sheet-block">
            <nav class="tabs sheet-tabs-origin" data-group="origin-tabs">
              <a class="item card-block-header actor-item-origin" data-tab="origin-list">{{localize "CZT.Actor.Origin"}}</a>
              <a class="item" data-tab="origin-desc">{{localize "CZT.Actor.OriginQA"}}</a>
            </nav>
            <div  class="sheet-body-origin">
              <div class="tab origin-list" data-group="origin-tabs" data-tab="origin-list">
                {{localize "CZT.Actor.OriginText"}}
                <ul>
                  {{#each origins as |item key|}}
                  <li><input type="radio" value="{{item.id}}" name="system.history.origin" {{#ife ../systemData.history.origin item.id}} checked="checked"{{/ife}}/>&nbsp;<b>{{item.name}}</b>&nbsp;(<i>{{item.system.sign}}</i>): {{{item.system.description}}}</li>
                  {{/each}}
                </ul>
              </div>
              <div class="tab origin-desc" data-group="origin-tabs" data-tab="origin-desc">
                <textarea name="system.history.originInfo">{{systemData.history.originInfo}}</textarea>
              </div>
            </div>
          </div>
          <div class="actor-sheet-block">
            <span class="card-block-header">{{localize "CZT.Actor.Cluster"}}.</span> {{localize "CZT.Actor.ClusterText"}}
            <ul>
              {{#each clusters as |item key|}}
                <li><input type="radio" value="{{item.id}}" name="system.history.cluster" {{#ife ../systemData.history.cluster item.id}} checked="checked"{{/ife}}/>&nbsp;<b>{{item.name}}</b>: {{{item.system.description}}}</li>
              {{/each}}
                <li>
                  <input type="radio" value="your_own_version" name="system.history.cluster" {{#ife systemData.history.cluster "your_own_version"}} checked="checked"{{/ife}}/>&nbsp;<b>{{localize "CZT.Actor.your_own_version"}}</b>:
                  <input type="text" class="input-under-line" value="{{systemData.history.clusterInfo}}" name="system.history.clusterInfo" />
                </li>
              </ul>
          </div>
          <div class="actor-sheet-block">
            <span class="card-block-header">{{localize "CZT.Actor.Appearance"}}.</span> {{localize "CZT.Actor.AppearanceText"}}:
            <ul>
              <li>
                <input type="text" value="{{systemData.history.appearancies.plLine1}}" name="system.history.appearancies.plLine1" placeholder="{{{lzCc3 "CZT.Playbooks." actor.type ".Appearance.plLine1"}}}" />
              </li>
              <li>
                <input type="text" value="{{systemData.history.appearancies.plLine2}}" name="system.history.appearancies.plLine2" placeholder="{{{lzCc3 "CZT.Playbooks." actor.type ".Appearance.plLine2"}}}" />
              </li>
              <li>
                <input type="text" value="{{systemData.history.appearancies.plLine3}}" name="system.history.appearancies.plLine3" placeholder="{{{lzCc3 "CZT.Playbooks." actor.type ".Appearance.plLine3"}}}" />
              </li>
              <li>
                <input type="text" value="{{systemData.history.appearancies.plLine4}}" name="system.history.appearancies.plLine4" placeholder="{{{lzCc3 "CZT.Playbooks." actor.type ".Appearance.plLine4"}}}" />
              </li>
            </ul>
          </div>
        </div>
        <div class="actor-column actor-sheet-center">
          <div class="actor-playbook-name">{{namePlaybook actor.type}}</div>
          <img class="actor-avatar" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </div>
        <div class="actor-column actor-sheet-rightside">
          <div>
            <span class="card-block-header">{{localize "CZT.Actor.Princips"}}.</span>&nbsp;{{{lzCc3 "CZT.Playbooks." actor.type ".PrincipsTitle"}}}
            <ul class="ul-point">
              <li>{{lzCc3 "CZT.Playbooks." actor.type ".Princips.P1"}}</li>
              <li>{{lzCc3 "CZT.Playbooks." actor.type ".Princips.P2"}}</li>
              <li>{{lzCc3 "CZT.Playbooks." actor.type ".Princips.P3"}}</li>
              <li>{{lzCc3 "CZT.Playbooks." actor.type ".Princips.P4"}}</li>
            </ul>
          </div>
          <div class="actor-sheet-block">
            <span class="card-block-header">{{localize "CZT.Actor.Theme"}}.</span>&nbsp;{{localize "CZT.Actor.ThemeText"}}
            <div class="text-bold-italic text-font-size-16">{{{lzCc3 "CZT.Playbooks." actor.type ".Theme"}}}</div>
            <input type="text" class="input-under-line" name="system.history.theme" value="{{systemData.history.theme}}" />
          </div>
          <div class="actor-sheet-block">
            <div class="card-block-header">{{localize "CZT.Actor.StartEquips"}}</div>
            {{{lzCc3 "CZT.Playbooks." actor.type ".StartEquips"}}}
          </div>
          <div class="actor-sheet-block">
            <span class="card-block-header">{{localize "CZT.Actor.Contacts"}}.</span>&nbsp;{{localize "CZT.Actor.ContactsText"}}
            <ul class="ul-point">
              <li>
                <input type="text" class="input-contacts-name" name="system.contacts.c1.name" value="{{systemData.contacts.c1.name}}" />.&nbsp;
                <input type="text" class="input-contacts-val" name="system.contacts.c1.val" value="{{systemData.contacts.c1.val}}" placeholder="{{lzCc3 "CZT.Playbooks." actor.type ".Contacts.one"}}" />
              <li>
                <input type="text" class="input-contacts-name" name="system.contacts.c2.name" value="{{systemData.contacts.c2.name}}" />.&nbsp;
                <input type="text" class="input-contacts-val" name="system.contacts.c2.val" value="{{systemData.contacts.c2.val}}" placeholder="{{lzCc3 "CZT.Playbooks." actor.type ".Contacts.two"}}" />
              </li>
              <li>
                <input type="text" class="input-contacts-name" name="system.contacts.c3.name" value="{{systemData.contacts.c3.name}}" />.&nbsp;
                <input type="text" class="input-contacts-val" name="system.contacts.c3.val" value="{{systemData.contacts.c3.val}}" placeholder="{{lzCc3 "CZT.Playbooks." actor.type ".Contacts.three"}}" />
              </li>
              <li>
                <input type="text" class="input-contacts-name" name="system.contacts.c4.name" value="{{systemData.contacts.c4.name}}" />.&nbsp;
                <input type="text" class="input-contacts-val" name="system.contacts.c4.val" value="{{systemData.contacts.c4.val}}" placeholder="{{#ife actor.type "psychomant"}}{{lzCc3 "CZT.Playbooks." actor.type ".Contacts.four"}}{{/ife}}" />
              </li>
              <li>
                <input type="text" class="input-contacts-name" name="system.contacts.c5.name" value="{{systemData.contacts.c5.name}}" />.&nbsp;
                <input type="text" class="input-contacts-val input-contact-psychomant-no-active" name="system.contacts.c5.val" value="{{systemData.contacts.c5.val}}" placeholder="{{#ife actor.type "psychomant"}}{{lzCc3 "CZT.Playbooks." actor.type ".Contacts.five"}}{{/ife}}" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab skills" data-group="primary" data-tab="skills">
        <div class="actor-wrapper">
      <div class="actor-row">
        <div class="actor-column">
          left
        </div>
        <div class="actor-column">
          center
        </div>
        <div class="actor-column">
          right
        </div>
      </div>
    </div>
  </div>
  <div class="tab" data-group="primary" data-tab="common-movies">
    <div class="masonry-container">
    {{#each movie_common as |movie key|}}
      <span class="masonry-item">
        <h3>{{movie.name}}</h3>
        {{{movie.system.description}}}
      </span>
    {{/each}}
    </div>
  </div>
  <div class="tab" data-group="primary" data-tab="dramatic-movies">
    <div class="masonry-container">
    {{#each movie_dramatic as |movie key|}}
      <span class="masonry-item">
        <h3>{{movie.name}}</h3>
        {{{movie.system.description}}}
      </span>
    {{/each}}
    </div>
  </div>
  <div class="tab" data-group="primary" data-tab="cosmic-movies">
    <div class="masonry-container">
    {{#each movie_cosmo as |movie key|}}
      <span class="masonry-item">
        <h3>{{movie.name}}</h3>
        {{{movie.system.description}}}
      </span>
    {{/each}}
    </div>
  </div>
  <div class="tab" data-group="primary" data-tab="traits-movies">
    <div class="masonry-container">
    {{#each movie_traits as |movie key|}}
      <span class="masonry-item">
        <h3>{{movie.name}}</h3>
        {{{movie.system.description}}}
      </span>
    {{/each}}
    </div>
  </div>
</section>
</form>