<form class="{{cssClass}}" autocomplete="off">

<nav class="tabs sheet-tabs" data-group="primary">
  <a class="item" data-tab="properties">{{localize "CZT.Common.Navs.History"}}</a>
  <a class="item" data-tab="self-movies">{{localize "CZT.Common.Navs.Playbook"}}</a>
  {{#ife actor.type 'battlesuit'}}
    <a class="item" data-tab="tab-battlesuit">{{localize "CZT.Common.Navs.PlaybookBattlesuit"}}</a>
  {{/ife}}
  <a class="item" data-tab="common-movies">{{localize "CZT.Common.Navs.CommonMovies"}}</a>
  <a class="item" data-tab="dramatic-movies">{{localize "CZT.Common.Navs.DramaticMovies"}}</a>
  <a class="item" data-tab="cosmic-movies">{{localize "CZT.Common.Navs.CosmicMovies"}}</a>
  <a class="item" data-tab="traits-movies">{{localize "CZT.Common.Navs.TraitsMovies"}}</a>
  <a class="item" data-tab="notes-own">{{localize "CZT.Common.Navs.ForNotes"}}</a>
</nav>
<section class="sheet-body">
  {{#ife actor.type 'battlesuit'}}
  <div class="tab tab-battlesuit" data-group="primary" data-tab="tab-battlesuit">
    {{>"systems/eotv/templates/sheets/actors/partials/tab-battlesuit.hbs" systemData=systemData}}
  </div>
  {{/ife}}
  <div class="tab properties" data-group="primary" data-tab="properties">
    <div class="actor-wrapper">
      <div class="actor-row">
        <div class="actor-column actor-sheet-leftside">
          <div class="actor-description">
            <div class="card-block-header">{{localize "CZT.Actor.Description"}}</div>
            {{{lzCc3 "CZT.Playbooks." actor.type ".Description"}}}
          </div>
          <div class="actor-sheet-block">
            <nav class="tabs sheet-tabs-origin" data-group="origin-tabs">
              <a class="item card-block-header actor-item-origin" data-tab="origin-list">{{localize "CZT.Actor.Origin"}}</a>
              <a class="item" data-tab="origin-desc">{{localize "CZT.Actor.OriginQA"}}</a>
            </nav>
            <div  class="sheet-body-origin">
              <div class="tab origin-list" data-group="origin-tabs" data-tab="origin-list">
                {{#ife actor.type "supernova_female"}}{{{lzCc3 "CZT.Playbooks." actor.type ".Origins.addInfo"}}}&nbsp;{{/ife}}{{localize "CZT.Actor.OriginText"}}
                <ul>
                  {{#each origins as |item key|}}
                  <li><input type="radio" value="{{item.id}}" name="system.history.origin" {{#ife ../systemData.history.origin item.id}} checked="checked"{{/ife}}/>&nbsp;<b>{{item.name}}</b>&nbsp;(<i>{{item.system.sign}}</i>): {{{item.system.description}}}</li>
                  {{/each}}
                </ul>
                {{#if showElements.OriginsBeforeInfo}}
                  {{{lzCc3 "CZT.Playbooks." actor.type ".Origins.beforeInfo"}}}
                {{/if}}
                {{#ife actor.type 'janissary'}}
                <ul>
                  <li>
                    <input type="radio" value="one" name="system.origin_statuses" {{#ife systemData.origin_statuses 'one'}} checked="checked"{{/ife}}/>&nbsp;
                    <b>{{{lzCc3 "CZT.Playbooks." actor.type ".Origins.statuses.OneTitle"}}}</b>&nbsp;
                    {{{lzCc3 "CZT.Playbooks." actor.type ".Origins.statuses.OneDesc"}}}
                  </li>
                  <li>
                    <input type="radio" value="two" name="system.origin_statuses" {{#ife systemData.origin_statuses 'two'}} checked="checked"{{/ife}}/>&nbsp;
                    <b>{{{lzCc3 "CZT.Playbooks." actor.type ".Origins.statuses.TwoTitle"}}}</b>&nbsp;
                    {{{lzCc3 "CZT.Playbooks." actor.type ".Origins.statuses.TwoDesc"}}}
                  </li>
                  <li>
                    <input type="radio" value="three" name="system.origin_statuses" {{#ife systemData.origin_statuses 'three'}} checked="checked"{{/ife}}/>&nbsp;
                    <b>{{{lzCc3 "CZT.Playbooks." actor.type ".Origins.statuses.ThreeTitle"}}}</b>&nbsp;
                    {{{lzCc3 "CZT.Playbooks." actor.type ".Origins.statuses.ThreeDesc"}}}
                  </li>
                </ul>
                {{/ife}}
              </div>
              <div class="tab origin-desc" data-group="origin-tabs" data-tab="origin-desc">
                <textarea name="system.history.originInfo">{{systemData.history.originInfo}}</textarea>
              </div>
            </div>
          </div>
          {{#ife actor.type 'janissary'}}
          <div class="actor-sheet-block">
            <div class="card-block-header">{{localize "CZT.Playbooks.janissary.Path.Title"}}</div>
            {{localize "CZT.Playbooks.janissary.Path.Text"}}:
            <ul>
              <li>
                <input type="radio" value="one" name="system.path" {{#ife systemData.path 'one'}} checked="checked"{{/ife}}/>&nbsp;
                <b>{{{lzCc3 "CZT.Playbooks." actor.type ".Path.OneTitle"}}}</b>&nbsp;
                {{{lzCc3 "CZT.Playbooks." actor.type ".Path.OneDesc"}}}
              </li>
              <li>
                <input type="radio" value="two" name="system.path" {{#ife systemData.path 'two'}} checked="checked"{{/ife}}/>&nbsp;
                <b>{{{lzCc3 "CZT.Playbooks." actor.type ".Path.TwoTitle"}}}</b>&nbsp;
                {{{lzCc3 "CZT.Playbooks." actor.type ".Path.TwoDesc"}}}
              </li>
              <li>
                <input type="radio" value="three" name="system.path" {{#ife systemData.path 'three'}} checked="checked"{{/ife}}/>&nbsp;
                <b>{{{lzCc3 "CZT.Playbooks." actor.type ".Path.ThreeTitle"}}}</b>&nbsp;
                {{{lzCc3 "CZT.Playbooks." actor.type ".Path.ThreeDesc"}}}
              </li>
              <li>
                <input type="radio" value="four" name="system.path" {{#ife systemData.path 'four'}} checked="checked"{{/ife}}/>&nbsp;
                <b>{{{lzCc3 "CZT.Playbooks." actor.type ".Path.FourTitle"}}}</b>&nbsp;
                {{{lzCc3 "CZT.Playbooks." actor.type ".Path.FourDesc"}}}
              </li>
            </ul>
          </div>
          {{/ife}}
          {{#ife actor.type 'stranger'}}
          <div class="actor-sheet-block">
            <span class="card-block-header">{{localize "CZT.Playbooks.stranger.Specialist.Title"}}.</span>&nbsp;{{localize "CZT.Playbooks.stranger.Specialist.Text"}}
            <ul>
              <li>
                <input type="radio" name="system.specialist" value="one"{{#ife systemData.specialist "one"}} checked="checked"{{/ife}} />
                <b>{{localize "CZT.Playbooks.stranger.Specialist.OneTitle"}}</b> {{localize "CZT.Playbooks.stranger.Specialist.OneText"}}
              </li>
              <li>
                <input type="radio" name="system.specialist" value="two"{{#ife systemData.specialist "two"}} checked="checked"{{/ife}} />
                <b>{{localize "CZT.Playbooks.stranger.Specialist.TwoTitle"}}</b> {{localize "CZT.Playbooks.stranger.Specialist.TwoText"}}
              </li>
              <li>
                <input type="radio" name="system.specialist" value="three"{{#ife systemData.specialist "three"}} checked="checked"{{/ife}} />
                <b>{{localize "CZT.Playbooks.stranger.Specialist.ThreeTitle"}}</b> {{localize "CZT.Playbooks.stranger.Specialist.ThreeText"}}
              </li>
              <li>
                <input type="radio" name="system.specialist" value="four"{{#ife systemData.specialist "four"}} checked="checked"{{/ife}} />
                <b>{{localize "CZT.Playbooks.stranger.Specialist.FourTitle"}}</b> {{localize "CZT.Playbooks.stranger.Specialist.FourText"}}
              </li>
              <li>
                <input type="radio" name="system.specialist" value="five"{{#ife systemData.specialist "five"}} checked="checked"{{/ife}} />
                <b>{{localize "CZT.Playbooks.stranger.Specialist.FiveTitle"}}</b> {{localize "CZT.Playbooks.stranger.Specialist.FiveText"}}
              </li>
            </ul>
          </div>
          {{/ife}}
          {{#ife actor.type 'juggernaut_female'}}
          <div class="actor-sheet-block">
            <span class="card-block-header">{{localize "CZT.Playbooks.juggernaut_female.Craft.Title"}}</span><br>
            {{localize "CZT.Playbooks.juggernaut_female.Craft.SubTitle"}}
            <ul>
              <li>
                <input type="radio" name="system.remeslo" value="warrior"{{#ife systemData.remeslo "warrior"}} checked="checked"{{/ife}} />
                <b>{{localize "CZT.Playbooks.juggernaut_female.Craft.WLabel"}}</b> {{localize "CZT.Playbooks.juggernaut_female.Craft.Warrior"}}
              </li>
              <li>
                <input type="radio" name="system.remeslo" value="hunter"{{#ife systemData.remeslo "hunter"}} checked="checked"{{/ife}} />
                <b>{{localize "CZT.Playbooks.juggernaut_female.Craft.HLabel"}}</b> {{localize "CZT.Playbooks.juggernaut_female.Craft.Hunter"}}
              </li>
            </ul>
          </div>
          {{/ife}}
          {{#ife actor.type 'raelith'}}
          <div class="actor-sheet-block">
            <span class="card-block-header">{{localize "CZT.Playbooks.raelith.Function.Title"}}</span><br>
            {{localize "CZT.Playbooks.raelith.Function.Text"}}
            <ul>
              <li>
                <input type="radio" name="system.function" value="warrior"{{#ife systemData.function "warrior"}} checked="checked"{{/ife}} />
                <b>{{localize "CZT.Playbooks.raelith.Function.v1Name"}}</b> {{localize "CZT.Playbooks.raelith.Function.v1Text"}}
              </li>
              <li>
                <input type="radio" name="system.function" value="hunter"{{#ife systemData.function "hunter"}} checked="checked"{{/ife}} />
                <b>{{localize "CZT.Playbooks.raelith.Function.v2Name"}}</b> {{localize "CZT.Playbooks.raelith.Function.v2Text"}}
              </li>
            </ul>
            {{localize "CZT.Playbooks.raelith.Function.afterText"}}
          </div>
          {{/ife}}
          {{#if showElements.blockClusters}}
          <div class="actor-sheet-block">
            <span class="card-block-header">{{localize "CZT.Actor.Cluster"}}.</span>&nbsp;
            {{#if showElements.ClusterTitle}}
              {{{lzCc3 "CZT.Playbooks." actor.type ".ClusterTitle"}}}
            {{else}}
              {{localize "CZT.Actor.ClusterText"}}
            {{/if}}
            {{#if clusters}}
            <ul>
              {{#each clusters as |item key|}}
                <li><input type="radio" value="{{item.id}}" name="system.history.cluster" {{#ife ../systemData.history.cluster item.id}} checked="checked"{{/ife}}/>&nbsp;<b>{{item.name}}</b>: {{{item.system.description}}}</li>
              {{/each}}
                <li>
                  <input type="radio" value="your_own_version" name="system.history.cluster" {{#ife systemData.history.cluster "your_own_version"}} checked="checked"{{/ife}}/>&nbsp;<b>{{localize "CZT.Actor.your_own_version"}}</b>: <i>{{localize "CZT.Actor.your_own_desc"}}</i>
                  <input type="text" class="input-under-line" value="{{systemData.history.clusterInfo}}" name="system.history.clusterInfo" />
                </li>
            </ul>
            {{/if}}
          </div>
          {{/if}}
          <div class="actor-sheet-block">
            <span class="card-block-header">{{localize "CZT.Actor.Appearance"}}.</span> {{localize "CZT.Actor.AppearanceText"}}:
            <ul>
              <li>
                <input type="text" value="{{systemData.history.appearancies.plLine1}}" name="system.history.appearancies.plLine1" placeholder="{{{lzCc3 "CZT.Playbooks." actor.type ".Appearance.plLine1"}}}" />
              </li>
              <li>
                <input type="text" value="{{systemData.history.appearancies.plLine2}}" name="system.history.appearancies.plLine2" placeholder="{{{lzCc3 "CZT.Playbooks." actor.type ".Appearance.plLine2"}}}" />
              </li>
              <li>
                <input type="text" value="{{systemData.history.appearancies.plLine3}}" name="system.history.appearancies.plLine3" placeholder="{{{lzCc3 "CZT.Playbooks." actor.type ".Appearance.plLine3"}}}" />
              </li>
              <li>
                <input type="text" value="{{systemData.history.appearancies.plLine4}}" name="system.history.appearancies.plLine4" placeholder="{{{lzCc3 "CZT.Playbooks." actor.type ".Appearance.plLine4"}}}" />
              </li>
            </ul>
          </div>
        </div>
        <div class="actor-column actor-sheet-center">
          <div class="actor-playbook-name">{{namePlaybook actor.type}}</div>
          <img class="actor-avatar" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </div>
        <div class="actor-column actor-sheet-rightside">
          <div>
            <span class="card-block-header">{{localize "CZT.Actor.Princips"}}.</span>&nbsp;{{{lzCc3 "CZT.Playbooks." actor.type ".PrincipsTitle"}}}
            <ul class="ul-point">
              <li>{{lzCc3 "CZT.Playbooks." actor.type ".Princips.P1"}}</li>
              <li>{{lzCc3 "CZT.Playbooks." actor.type ".Princips.P2"}}</li>
              <li>{{lzCc3 "CZT.Playbooks." actor.type ".Princips.P3"}}</li>
              <li>{{lzCc3 "CZT.Playbooks." actor.type ".Princips.P4"}}</li>
            </ul>
          </div>
          <div class="actor-sheet-block">
            <span class="card-block-header">{{localize "CZT.Actor.Theme"}}.</span>&nbsp;{{localize "CZT.Actor.ThemeText"}}
            <div class="text-bold-italic text-font-size-16">{{{lzCc3 "CZT.Playbooks." actor.type ".Theme"}}}</div>
            <input type="text" class="input-under-line" name="system.history.theme" value="{{systemData.history.theme}}" />
          </div>
          <div class="actor-sheet-block">
            <div class="card-block-header">{{localize "CZT.Actor.StartEquips"}}</div>
            {{{lzCc3 "CZT.Playbooks." actor.type ".StartEquips"}}}

            {{#if equipments_active}}
              <ul>
              {{#each equipments_active as |item key|}}
                <li>
                  <input type="radio" name="system.you_weapon" value="{{item.id}}"{{#ife item.id ../systemData.you_weapon}} checked="checked"{{/ife}}/>
                  {{#ife ../actor.type "supernova_female"}}
                    {{{item.system.description}}}
                  {{else}}
                    <b>{{item.name}}</b>&nbsp;{{{item.system.description}}}
                  {{/ife}}
                </li>
              {{/each}}
              </ul>
            {{/if}}
            {{#if equipments_active}}
              {{#if equipments_noactive}}
                {{localize "CZT.Actor.as_well_as"}}:
              {{/if}}
            {{/if}}
            <ul class="ul-point">
            {{#each equipments_noactive as |item key|}}
              <li>
                {{#ife ../actor.type "supernova_female"}}
                  {{{item.system.description}}}
                {{else}}
                  <b>{{item.name}}</b>&nbsp;{{{item.system.description}}}
                {{/ife}}
              </li>
            {{/each}}
            </ul>
          </div>
          <div class="actor-sheet-block">
            <span class="card-block-header">{{localize "CZT.Actor.Contacts"}}.</span>&nbsp;{{localize "CZT.Actor.ContactsText"}}
            <ul class="ul-point">
              <li>
                <input type="text" class="input-contacts-name" name="system.contacts.c1.name" value="{{systemData.contacts.c1.name}}" />.&nbsp;
                <input type="text" class="input-contacts-val" name="system.contacts.c1.val" value="{{systemData.contacts.c1.val}}" placeholder="{{lzCc3 "CZT.Playbooks." actor.type ".Contacts.one"}}" />
              <li>
                <input type="text" class="input-contacts-name" name="system.contacts.c2.name" value="{{systemData.contacts.c2.name}}" />.&nbsp;
                <input type="text" class="input-contacts-val" name="system.contacts.c2.val" value="{{systemData.contacts.c2.val}}" placeholder="{{lzCc3 "CZT.Playbooks." actor.type ".Contacts.two"}}" />
              </li>
              <li>
                <input type="text" class="input-contacts-name" name="system.contacts.c3.name" value="{{systemData.contacts.c3.name}}" />.&nbsp;
                <input type="text" class="input-contacts-val" name="system.contacts.c3.val" value="{{systemData.contacts.c3.val}}" placeholder="{{lzCc3 "CZT.Playbooks." actor.type ".Contacts.three"}}" />
              </li>
              <li>
                <input type="text" class="input-contacts-name" name="system.contacts.c4.name" value="{{systemData.contacts.c4.name}}" />.&nbsp;
                <input type="text" class="input-contacts-val" name="system.contacts.c4.val" value="{{systemData.contacts.c4.val}}" placeholder="{{#ife actor.type "psychomant"}}{{lzCc3 "CZT.Playbooks." actor.type ".Contacts.four"}}{{/ife}}" />
              </li>
              <li>
                <input type="text" class="input-contacts-name" name="system.contacts.c5.name" value="{{systemData.contacts.c5.name}}" />.&nbsp;
                <input type="text" class="input-contacts-val input-contact-psychomant-no-active" name="system.contacts.c5.val" value="{{systemData.contacts.c5.val}}" placeholder="{{#ife actor.type "psychomant"}}{{lzCc3 "CZT.Playbooks." actor.type ".Contacts.five"}}{{/ife}}" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab self-movies" data-group="primary" data-tab="self-movies">
    <div class="actor-wrapper">
      <div class="actor-row">
          <div class="actor-column">
            <span class="card-block-header">{{localize "CZT.Actor.MovieStart"}}</span> {{localize "CZT.Actor.You_have_everything"}}:
            <div class="masonry-container">
              {{>"systems/eotv/templates/sheets/actors/movie-fabric.hbs" movies=movie_playbook_starter systemData=systemData}}
            
            <!--
            {{#each movie_playbook_starter as |movie key|}}
              <span class="masonry-item">
                <h3>{{#if movie.system.to_choose}}<input type="checkbox" name="system.movies" value="{{movie._id}}" {{#ifIn movie._id ../systemData.movies}} checked="checked"{{/ifIn}}/>&nbsp;{{/if}}{{movie.name}}</h3>
                {{{movie.system.description}}}
              </span>
            {{/each}}
            -->
            </div>
          </div>
          <div class="actor-column actor-stats-block">
            <div class="actor-wrapper">
              <!-- Начало характеристики Имя -->
              <div class="actor-row actor-stat-line">
                <div class="actor-column actor-stats-caption actor-stats-name">
                {{localize "CZT.Actor.Name"}}  
                </div>
                <div class="actor-column">
                  <input type="text" name="name" class="actor-name" value="{{actor.name}}" />
                </div>
              </div>
              <!-- Начало характеристики Ярость -->
              <div class="actor-row actor-stat-line line-height-50">
                <div class="actor-column actor-stat-to-label actor-stat-to-prop">
                  {{localize "CZT.Actor.Stats.Fury"}}
                </div>
                <div class="actor-column actor-stat-to-input">
                  <input type="text" data-type="number" name="system.fury" value="{{systemData.fury}}" />
                </div>
                <div class="actor-column actor-stat-to-label actor-stat-to-cond">
                  {{localize "CZT.Actor.Stats.injured"}}<br>
                  {{localize "CZT.Actor.Stats.not_sure"}}
                </div>
                <div class="actor-column actor-stat-to-mod">
                  [&nbsp;-1&nbsp;]
                </div>
                <div class="actor-column actor-stat-to-select">
                  <select name="system.injured_not_sure">
                    <option value="0"{{#ife systemData.injured_not_sure "0"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.No"}}</option>
                    <option value="1"{{#ife systemData.injured_not_sure "1"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.Simple"}}</option>
                    <option value="2"{{#ife systemData.injured_not_sure "2"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.Serious"}}</option>
                  </select>
                </div>
              </div>
              <!-- Начало характеристики Логика -->
              <div class="actor-row actor-stat-line line-height-50">
                <div class="actor-column actor-stat-to-label actor-stat-to-prop">
                  {{localize "CZT.Actor.Stats.Logic"}}
                </div>
                <div class="actor-column actor-stat-to-input">
                  <input type="text" data-type="number" name="system.logic" value="{{systemData.logic}}" />
                </div>
                <div class="actor-column actor-stat-to-label actor-stat-to-cond">
                  {{localize "CZT.Actor.Stats.shocked"}}<br>
                  {{localize "CZT.Actor.Stats.confused"}}
                </div>
                <div class="actor-column actor-stat-to-mod">
                  [&nbsp;-1&nbsp;]
                </div>
                <div class="actor-column actor-stat-to-select">
                  <select name="system.shocked_confused">
                    <option value="0"{{#ife systemData.shocked_confused "0"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.No"}}</option>
                    <option value="1"{{#ife systemData.shocked_confused "1"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.Simple"}}</option>
                    <option value="2"{{#ife systemData.shocked_confused "2"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.Serious"}}</option>
                  </select>
                </div>
              </div>
              <!-- Начало характеристики Наука -->
              <div class="actor-row actor-stat-line line-height-50">
                <div class="actor-column actor-stat-to-label actor-stat-to-prop">
                  {{localize "CZT.Actor.Stats.Science"}}
                </div>
                <div class="actor-column actor-stat-to-input">
                  <input type="text" data-type="number" name="system.science" value="{{systemData.science}}" />
                </div>
                <div class="actor-column actor-stat-to-label actor-stat-to-cond">
                  {{localize "CZT.Actor.Stats.contuse"}}<br>
                  {{localize "CZT.Actor.Stats.angry"}}
                </div>
                <div class="actor-column actor-stat-to-mod">
                  [&nbsp;-1&nbsp;]
                </div>
                <div class="actor-column actor-stat-to-select">
                  <select name="system.contuse_angry">
                    <option value="0"{{#ife systemData.contuse_angry "0"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.No"}}</option>
                    <option value="1"{{#ife systemData.contuse_angry "1"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.Simple"}}</option>
                    <option value="2"{{#ife systemData.contuse_angry "2"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.Serious"}}</option>
                  </select>
                </div>
              </div>
              <!-- Начало характеристики Статус -->
              <div class="actor-row actor-stat-line line-height-50">
                <div class="actor-column actor-stat-to-label actor-stat-to-prop">
                  {{localize "CZT.Actor.Stats.Status"}}
                </div>
                <div class="actor-column actor-stat-to-input">
                  <input type="text" data-type="number" name="system.status" value="{{systemData.status}}" />
                </div>
                <div class="actor-column actor-stat-to-label actor-stat-to-cond">
                  {{localize "CZT.Actor.Stats.blooded"}}<br>
                  {{localize "CZT.Actor.Stats.frightened"}}
                </div>
                <div class="actor-column actor-stat-to-mod">
                  [&nbsp;-1&nbsp;]
                </div>
                <div class="actor-column actor-stat-to-select">
                  <select name="system.blooded_frightened">
                    <option value="0"{{#ife systemData.blooded_frightened "0"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.No"}}</option>
                    <option value="1"{{#ife systemData.blooded_frightened "1"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.Simple"}}</option>
                    <option value="2"{{#ife systemData.blooded_frightened "2"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.Serious"}}</option>
                  </select>
                </div>
              </div>
              <!-- Клетки и криты -->
              <div class="actor-row actor-cons-line">
                <div class="actor-column actor-cons-prfire">
                  <div class="actor-row">
                    <div class="actor-column prfire-padding-top">{{localize "CZT.Actor.Consumables.Supplies"}}</div>
                    <div class="actor-column cons-prfire-input">
                      <input type="text" name="system.consumables.res_tec" value="{{systemData.consumables.res_tec}}" class="input-consumables" data-type="number" />
                    </div>
                    <div class="actor-column prfire-padding-top">/&nbsp;{{systemData.consumables.res_max}}</div>
                  </div>
                  <div class="actor-row">
                    <div class="actor-column prfire-padding-top">{{localize "CZT.Actor.Consumables.Finance"}}</div>
                    <div class="actor-column cons-prfire-input">
                      <input type="text" name="system.consumables.fin_tec" value="{{systemData.consumables.fin_tec}}" class="input-consumables" data-type="number" />
                    </div>
                    <div class="actor-column prfire-padding-top">/&nbsp;{{systemData.consumables.fin_max}}</div>
                  </div>
                  <div class="actor-row">
                    <div class="actor-column prfire-padding-top">{{localize "CZT.Actor.Consumables.Income"}}</div>
                    <div class="actor-column cons-prfire-input">
                      <input type="text" name="system.consumables.pr_tec" value="{{systemData.consumables.pr_tec}}" class="input-consumables" data-type="number" />
                    </div>
                    <div class="actor-column prfire-padding-top">/&nbsp;{{systemData.consumables.pr_max}}</div>
                  </div>
                  <div class="actor-row">
                    <div class="actor-column prfire-padding-top">{{localize "CZT.Actor.Exp"}}</div>
                    <div class="actor-column cons-prfire-input prfire-padding-explvl">
                      <input type="text" name="system.exp" value="{{systemData.exp}}" class="input-consumables" data-type="number" />
                    </div>
                  </div>
                  <div class="actor-row">
                    <div class="actor-column prfire-padding-top">{{localize "CZT.Actor.Level"}}</div>
                    <div class="actor-column cons-prfire-input prfire-padding-explvl">
                      <input type="text" name="system.lvl" value="{{systemData.lvl}}" class="input-consumables" data-type="number" />
                    </div>
                  </div>
                </div>
                <div class="actor-column actor-critical-block">
                  <div class="actor-row set-backgound-black">
                    <div class="actor-column actor-critical-cond">{{localize "CZT.Actor.CriticalCond"}}</div>
                    <div class="actor-column actor-critical-check">
                      <input type="checkbox" name="system.critical_state" {{checked systemData.critical_state}} />
                    </div>
                  </div>
                  <div class="actor-row critical-additional_states">
                    <div class="actor-column">
                      <ul>
                        <li><input type="text" value="{{systemData.additional_states.one}}" name="system.additional_states.one" /></li>
                        <li><input type="text" value="{{systemData.additional_states.two}}" name="system.additional_states.two" /></li>
                      </ul>
                    </div>
                    <div class="actor-column actor-stat-to-select">
                      <select name="system.additional_states.select">
                        <option value="0"{{#ife systemData.additional_states.select "0"}} selected{{/ife}}>{{localize "CZT.Common.Select.No"}}</option>
                        <option value="1"{{#ife systemData.additional_states.select "1"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.Simple"}}</option>
                        <option value="2"{{#ife systemData.additional_states.select "2"}} selected{{/ife}}>{{localize "CZT.Actor.Conditions.Serious"}}</option>
                      </select>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="actor-column">
            <span class="card-block-header">{{localize "CZT.Actor.MovieSpecial"}}</span> {{localize "CZT.Actor.Choose_how_many"}}:
            {{>"systems/eotv/templates/sheets/actors/movie-fabric.hbs" movies=movie_playbook_special systemData=systemData}}
            <!--
            {{#each movie_playbook_special as |movie key|}}
              <span class="masonry-item">
                <h3>{{#if movie.system.to_choose}}<input type="checkbox" name="system.movies" value="{{movie._id}}" {{#ifIn movie._id ../systemData.movies}} checked="checked"{{/ifIn}}/>&nbsp;{{/if}}{{movie.name}}</h3>
                {{#if movie.system.predesc}}
                  {{#ife ../actor.type 'battlesuit'}}
                    {{{movie.system.predesc}}}:<br>
                    <input type="text" class="input-under-line" name="system.movieFields.UnexpectedTalent" value="{{../systemData.movieFields.UnexpectedTalent}}" /><br>
                  {{/ife}}
                {{/if}}
                {{{movie.system.description}}}
              </span>
            {{/each}}
            -->
          </div>
      </div>
    </div>
  </div>
  <div class="tab" data-group="primary" data-tab="common-movies">
    <div class="masonry-container">
    {{#each movie_common as |movie key|}}
      <span class="masonry-item">
        <h3>{{movie.name}}</h3>
        {{{movie.system.description}}}
      </span>
    {{/each}}
    </div>
  </div>
  <div class="tab" data-group="primary" data-tab="dramatic-movies">
    <div class="masonry-container">
    {{#each movie_dramatic as |movie key|}}
      <span class="masonry-item">
        <h3>{{movie.name}}</h3>
        {{{movie.system.description}}}
      </span>
    {{/each}}
    </div>
  </div>
  <div class="tab" data-group="primary" data-tab="cosmic-movies">
    <div class="masonry-container">
    {{#each movie_cosmo as |movie key|}}
      <span class="masonry-item">
        <h3>{{movie.name}}</h3>
        {{{movie.system.description}}}
      </span>
    {{/each}}
    </div>
  </div>
  <div class="tab" data-group="primary" data-tab="traits-movies">
    <div class="masonry-container">
    {{#each movie_traits as |movie key|}}
      <span class="masonry-item">
        <h3>{{movie.name}}</h3>
        {{{movie.system.description}}}
      </span>
    {{/each}}
    </div>
  </div>
  <div class="tab notes-own" data-group="primary" data-tab="notes-own">
    <div class="actor-wrapper">
      <div class="actor-row">
        <div class="actor-column">
          {{editor systemData.notes target="system.notes" button=true engine="tinymce" collaborate=false}}
        </div>
      </div>
    </div>
  </div>
</section>
</form>