{{#each movies as |movie key|}}
<span class="masonry-item{{#if movie.system.specifics.in_action}} playbook-movie-action{{/if}}" movie-playbook="{{movie.system.kind}}" movie-id="{{movie._id}}" movie-key="{{movie.system.specifics.key}}">
  <h3{{#if movie.system.specifics.in_action}} class="cursor-click"{{/if}}>
    {{#if movie.system.to_choose}}
      <input type="checkbox" name="system.movies" value="{{movie._id}}" {{#ifIn movie._id ../systemData.movies}} checked="checked"{{/ifIn}}/>&nbsp;
    {{/if}}<span>
    {{movie.name}}
    {{#if movie.system.specifics.in_action}}
    <i class="fa-solid fa-dice"></i>
    {{/if}}
    </span>
  </h3>
  {{{movie.system.description}}}

  {{#ife movie.system.specifics.type "radio"}}
    <ul>
    {{#each movie.system.specifics.values as |value vkey|}}
    <li movie-subkey="{{value.key}}">
      <input type="radio" name="system.movies" value="{{value.key}}"{{#ifIn value.key ../../systemData.movies}} checked="checked"{{/ifIn}}/>
      {{value.name}}
    </li>
    {{/each}}
    </ul>
  {{/ife}}
  {{#ife movie.system.specifics.type "list"}}
    <ul class="ul-point">
    {{#each movie.system.specifics.values as |value vkey|}}
      <li>{{value}}</li>
    {{/each}}
    </ul>
  {{/ife}}

</span>
{{/each}}