<div class="czt-style-center czt-margin-bottom">
  {{localize "CZT.Common.Buttons.ClickOn"}}&nbsp;<b>{{localize "CZT.Common.Buttons.Cancel"}}</b>{{localize "CZT.Common.DelConfirmText1"}}&nbsp;<b>{{localize "CZT.Common.Buttons.Remove"}}</b>{{localize "CZT.Common.DelConfirmText2"}}
</div>