<form>
  <div class="actor-wrapper">
    <div class="actor-row">
      <div class="actor-column">
        {{localize "CZT.Actor.ChatsRoll.MoveAction"}}:
        <h3>{{movie_name}}</h3>
      </div>
    </div>
    <div class="actor-row roll-total">
      <div class="actor-column{{#ifgt total 6}} success{{else}} fail{{/ifgt}}">
      {{#ifgt total 6}}{{localize "CZT.Actor.ChatsRoll.Success"}}{{else}}{{localize "CZT.Actor.ChatsRoll.Fail"}}{{/ifgt}}<br>
      {{total}}
      </div>
    </div>
    <div class="actor-row">
      <div class="actor-column">{{localize "CZT.Actor.ChatsRoll.Formula"}}:</div> 
      <div class="actor-column">{{result}}</div>
    </div>
    <div class="actor-row">
      <div class="actor-column">{{localize "CZT.Actor.ChatsRoll.StatLabel"}}:</div> 
      <div class="actor-column">{{stat}}</div>
    </div>
    <div class="actor-row">
      <div class="actor-column">{{localize "CZT.Actor.ChatsRoll.Condition"}}:</div> 
      <div class="actor-column">{{injMod}}</div>
    </div>
  </div>
</form>
